@model IEnumerable<DoctorAppointment.Models.Department>

<html>
	<head>
<meta name="viewport" content="width=device-width" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta content="text/html; charset=iso-8859-2" http-equiv="Content-Type">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
	.mySlides {
		display: none;
	}
	</style>
</head>
<body>

	<h3 style="text-decoration:underline" class="text-center">
		About Histry</h3>

	<div class="d-flex">
		<div class="w3-content w3-section w-100">
			<img class="mySlides" src="~/images/Bir1.jpeg" style="width:100%;height:350px">
			<img class="mySlides" src="/images/Bir2.jpeg" style="width:100% ;height:350px">
			<img class="mySlides" src="/images/Bir3.jpeg" style="width:100%;height:350px">
			<img class="mySlides" src="/images/Bir Hospital.jpeg" style="width:100%;height:350px">
			<img class="mySlides" src="/images/BirPharmacy.jpeg" style="width:100%;height:350px">
		</div>
		<p class= "p-4 m-4">
			The history of hospital service in Nepal starts <span>in the year 1889 with the establishment</span>
			of Bir Hospital, the oldest hospital now providing general care to tertiary care to the people of Nepal.
			Bir hospital is the first teaching hospital for compounders, dresser and later nurses.<br>

			For the same reason the first medical school called Civil Medical School was established in 1933 AD in Bir Hospital.
			It was also the centre for the training of FRCS, MRCP and MRCOG since 1987.
			Therefore Bir Hospital has been a postgraduate Training centre from the beginning.
			In 1979 super-specialization medical services was expanded in this hospital.<br>

			Modern medical education had started in Nepal along with <span>the birth of Bir Hospital in 1889 AD.</span>
			Although MBBS program was introduced in 1978 in Institute of Medicine, it did not have its own teaching hospital in beginning,
			so the clinical teaching and learning activities were centered in Bir and other hospitals in the valley. With the support of
			Tribhuvan University post graduate education was started in Bir hospital and other hospitals in the valley through Post
			Graduate Medical Education Coordination Committee from 1994 AD.
		</p>
	</div>
	<br>
		<script>
			var myIndex = 0;
			carousel();

			function carousel() {
				var i;
				var x = document.getElementsByClassName("mySlides");
				for (i = 0; i < x.length; i++) {
					x[i].style.display = "none";
				}
				myIndex++;
				if (myIndex > x.length) { myIndex = 1 }
				x[myIndex - 1].style.display = "block";
				setTimeout(carousel, 2000); // Change image every 2 seconds
			}
		</script>	

	<div class="bg-dark  bg-opacity-75 text-light d-flex" >
		<div class="m-5">
		<h4 class="text-decoration-underline">Our Services</h4>
			<br>

			@foreach (var item in Model)			
			{
				<div>
					<a asp-controller="Department" asp-action="Details" asp-route-id="@item.Id" class="text-decoration-none text-light">> @item.Name</a>
				</div>			
			}
			
		</div>
		<div class="m-5">
			<h4 class="text-decoration-underline">Some Useful Links</h4>
			<br>
				<div>
				<a href="http://dohs.gov.np/about-us/" alt="Department of Health Services" class="text-decoration-none text-light">> Department of Health Services</a>
				</div>
				<div>
				<a href="https://www.nch.com.np/" alt="Department of Health Services" class="text-decoration-none text-light">> National Cancer Center</a>
				</div>
				<div>
				<a href="https://mohp.gov.np/en/" alt="Department of Health Services" class="text-decoration-none text-light">> Ministry Of Health & Population</a>
				</div>
				<div>
				<a href="https://www.nationaltraumacenter.gov.np/en" alt="Department of Health Services" class="text-decoration-none text-light">> National Trauma Center</a>
				</div>			
		</div>
		<div class="m-5">
			<h4 class="text-decoration-underline">Contact Address</h4>
			<br>
			<div class="d-flex">
				<img src="/images/LocationLogo.jpeg" style="block-size:30px"/>
				<p class="m-2 text-light"> MilanChok-2123, Sandikharkha, Nepal</p>
			</div>
			<div class="d-flex">
				<img src="/images/ImailLogo.jpeg" style="block-size:20px" />
				<p class="m-2 text-light"> info@hospital.com.np</p>
			</div>
			<div class="d-flex">
				<img src="/images/TelephoneLogo.jpeg" style="block-size:20px" />
				<p class="m-2 text-light"> +977-18544232565, +977-9846411235</p>
			</div>
			<div class="d-flex">
				<img src="/images/WebsiteLogo.jpeg" style="block-size:20px" />
				<a href="https://www.birhospital.gov.np/en" alt="Department of Health Services" class="text-decoration-none text-light">  District Hospital, Sandhikharkha</a>

			</div>
		</div>
	</div>
	<br>
	<button class="bg-light"><a asp-area="" asp-controller="Home" asp-action="Index" style="text-decoration:none">Back to Home</a></button>	
</body>
</html>
