html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
   
    margin-bottom: 60px;
}
/* Style the sidebar - fixed full height */
.sidebar {
    height: 83%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    /*background-color: #111;*/
    overflow-x: hidden;
    padding-top: 16px;
}

    /* Style sidebar links */
    .sidebar a {
        padding: 6px 8px 6px 8px;
        text-decoration: none;
        font-size: 20px;
        color: black;
        display: block;
    }

        /* Style links on mouse-over */
        .sidebar a:hover {
            color:darkblue;
        }

/* Style the main content */
.main {
    margin-left: 160px; /* Same as the width of the sidenav */
    padding: 0px 10px;
}

/* Add media queries for small screens (when the height of the screen is less than 450px, add a smaller padding and font-size) */
@media screen and (max-height: 50px) {
    .sidebar {
        padding-top: 15px;
    }

        .sidebar a {
            font-size: 18px;
        }
}
.appMessage{
    background-image:url(/images/DoctorTemplet.jpeg);
    width:100%
    
}
.backPic{
    background-image:url(/images/BigscreenBackground.png)
}
.serviceBack {
    background-image: url(/images/AppBack.jpg);
    width:90%;
    height:100%;
   
 
    
}
