@model IEnumerable<DoctorAppointment.Models.Department>

 <html>
<body class="bg-success bg-opacity-50">
         <div>
			 <img style="width:700px;height:250px;margin-left:20%;border-radius:100%" src="/images/Service.jpg"/>        
           </div>
	<div>
		@if (User.IsInRole("Admin"))
		{
			<button class=" float-end" style="background-color:forestgreen"><a asp-controller="Department" asp-action="Index" class="text-white text-decoration-none ">Back To Department List</a></button>

		}
		else
		{
			<button class=" float-end" style="background-color:forestgreen"><a asp-controller="Home" asp-action="Index" class="text-white text-decoration-none ">Back To Home Page</a></button>
		}
	</div>
	<br>
	<table class="table align-content-center">
			  <thead class="bg-dark bg-opacity-75 text-light">
				  <tr>
					  <th>
						  Department
					  </th>
					  <th></th>
					  <th>
						  Doctor In Duty
					  </th>
				  </tr>
			  </thead>
			  <tbody>
			@foreach (var item in Model)
			{
				<tr class="fw-bold bg-dark bg-opacity-50">
					
					<td>
						<a class="text-decoration-none" asp-controller="Department" asp-action="Details"
						   asp-route-id="@item.Id" style="color:white" />@item.Name
					</td>
					<td class="m-1"></td>
					<td class="text-white">
						@foreach (var doc in item.Doctors)
						{
							<p>Dr. @doc.Name</p>
															
						}
					</td>
				  </tr>
			}
			  </tbody>
		  </table>

</body>
     </html>
    